# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
.angular

# Generated Prisma files
libs/database/src/__generated__

# Dependencies
node_modules
package-lock.json
